.nav{
    display: flex;
    align-items: center;

    &__ul {
        display: flex;
        gap: 15px
    }
    &__li {
        position: relative;
        transition: .1s;
    }
    &__li:hover:not(.nav__li_current){
        opacity: .5;
    }
    &__li:active{
        opacity: .3;
    }
    &__link:focus{
        outline: 0;
        opacity: .3;
    }
    &__link{
        display: block;
        position: relative;

        &_current {
            &::before {
                content: "";
                position: absolute;
                background-color: #fff;
                bottom: -5px;
                left: 0;
                width: 100%;
                height: 1px;
            } 
        }
    }
}

