section.about
    .container
        .about__content
            .about__text-block
                h3.about__title.title.title-before О&nbsp;компании
                .about__text.
                    Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн.
            .about__items
                .about__item
                    h4.about__item-title 48
                    h5.about__item-subtitle офисов
                    p.about__item-text В Европе и СНГ
                .about__item
                    h4.about__item-title 361
                    h5.about__item-subtitle грузовиков
                    p.about__item-text Volvo, Scania
                .about__item
                    picture
                        source.lazyload(srcset="img/image.webp" data-src="img/about-truck.webp" type="image/webp")
                        img.about__item-image.lazyload(src="img/image.png" data-src="img/about-truck.png" alt="truck")
                .about__item
                    picture
                        source.lazyload(srcset="img/image.webp" data-src="img/about-truck.webp" type="image/webp")
                        img.about__item-image.lazyload(src="img/image.png" data-src="img/about-truck.png" alt="truck")
                .about__item
                    h4.about__item-title 1500
                    h5.about__item-subtitle сотрудников
                    p.about__item-text профессионалов