section.hero
    .container.hero__container
        .hero__content
            h1.hero__title  Грузовые перевозки
            .hero__text.
                Перевозка крупногабаритных грузов по России и Европе. Полное экспедирование, страхование, упаковка и хранение грузов
        a.hero__mouse(href="#main-slider")
            img(src="img/svg/mouse.svg", alt="mouse" width="30" height="30")