section.main-slider#main-slider
    .main-slider__content
        h2.main-slider__title.visually-hidden грузоперевозки по европе
        
        .swiper.main-slider__swiper
            .swiper-wrapper
                .swiper-slide(data-hash="slide1")
                    .main-slide
                        .main-slide__item
                            h3.main-slide__title.title.title-before грузоперевозки по европе
                            .main-slide__text.
                                Страны Евросоюза, а&nbsp;также Украина,
                                Белоруссия со&nbsp;всеми документами.
                            a(href="#").btn.main-slide__link ПОДРОБНЕЕ
                        .main-slide__item
                            .main-slide__image-wrapper(data-swiper-parallax="-600" data-swiper-parallax-duration="1000")
                                picture
                                    source.lazyload(srcset="img/image.webp" data-src="img/truck1.webp" type="image/webp")
                                    img.main-slide__image.lazyload(src="img/image.png" data-src="img/truck1.png" alt="truck")
                            .swiper-button-next 
                                .swiper-button-text СЛЕД
                                .swiper-button-icon
                                    img(src="img/svg/next.svg", alt="")
                                
                            .swiper-button-prev
                                .swiper-button-icon
                                    img(src="img/svg/prev.svg", alt="")
                                .swiper-button-text Назад
                .swiper-slide(data-hash="slide2")
                    .main-slide
                        .main-slide__item
                            h3.main-slide__title.title.title-before грузоперевозки по европе
                            .main-slide__text.
                                Страны Евросоюза, а&nbsp;также Украина,
                                Белоруссия со&nbsp;всеми документами.
                            a(href="#").btn.main-slide__link ПОДРОБНЕЕ
                        .main-slide__item
                            .main-slide__image-wrapper(data-swiper-parallax="-600" data-swiper-parallax-duration="1000")
                                picture
                                    source.lazyload(srcset="img/image.webp" data-src="img/truck1.webp" type="image/webp")
                                    img.main-slide__image.lazyload(src="img/image.png" data-src="img/truck1.png" alt="truck")
                            .swiper-button-next 
                                .swiper-button-text СЛЕД
                                .swiper-button-icon
                                    img(src="img/svg/next.svg", alt="")
                                
                            .swiper-button-prev
                                .swiper-button-icon
                                    img(src="img/svg/prev.svg", alt="")
                                .swiper-button-text Назад
                .swiper-slide(data-hash="slide3")
                    .main-slide
                        .main-slide__item
                            h3.main-slide__title.title.title-before грузоперевозки по европе
                            .main-slide__text.
                                Страны Евросоюза, а&nbsp;также Украина,
                                Белоруссия со&nbsp;всеми документами.
                            a(href="#").btn.main-slide__link ПОДРОБНЕЕ
                        .main-slide__item
                            .main-slide__image-wrapper(data-swiper-parallax="-600" data-swiper-parallax-duration="1000")
                                picture
                                    source.lazyload(srcset="img/image.webp" data-src="img/truck1.webp" type="image/webp")
                                    img.main-slide__image.lazyload(src="img/image.png" data-src="img/truck1.png" alt="truck")
                            .swiper-button-next 
                                .swiper-button-text СЛЕД
                                .swiper-button-icon
                                    img(src="img/svg/next.svg", alt="")
                                
                            .swiper-button-prev
                                .swiper-button-icon
                                    img(src="img/svg/prev.svg", alt="")
                                .swiper-button-text Назад
                .swiper-slide(data-hash="slide4")
                    .main-slide
                        .main-slide__item
                            h3.main-slide__title.title.title-before грузоперевозки по европе
                            .main-slide__text.
                                Страны Евросоюза, а&nbsp;также Украина,
                                Белоруссия со&nbsp;всеми документами.
                            a(href="#").btn.main-slide__link ПОДРОБНЕЕ
                        .main-slide__item
                            .main-slide__image-wrapper(data-swiper-parallax="-600" data-swiper-parallax-duration="1000")
                                picture
                                    source.lazyload(srcset="img/image.webp" data-src="img/truck1.webp" type="image/webp")
                                    img.main-slide__image.lazyload(src="img/image.png" data-src="img/truck1.png" alt="truck")
                            .swiper-button-next 
                                .swiper-button-text СЛЕД
                                .swiper-button-icon
                                    img(src="img/svg/next.svg", alt="")
                                
                            .swiper-button-prev
                                .swiper-button-icon
                                    img(src="img/svg/prev.svg", alt="")
                                .swiper-button-text Назад
