section.services
    .services__content.container
        h2.services__title.title.title-before Услуги
        .services__items
            .service
                .service__image-wrapper
                    include ../parts/plane.svg.html
                .service__text Авиаперевозки
            .service
                .service__image-wrapper 
                    include ../parts/plane.svg.html
                .service__text Авиаперевозки
            .service
                .service__image-wrapper
                    include ../parts/plane.svg.html
                .service__text Авиаперевозки
            .service
                .service__image-wrapper
                    include ../parts/plane.svg.html
                .service__text Авиаперевозки
            .service
                .service__image-wrapper
                    include ../parts/plane.svg.html
                .service__text Авиаперевозки
            .service
                .service__image-wrapper
                    include ../parts/plane.svg.html
                .service__text Авиаперевозки
            .service
                .service__image-wrapper
                    include ../parts/plane.svg.html
                .service__text Авиаперевозки
            .service
                .service__image-wrapper
                    include ../parts/plane.svg.html
                .service__text Авиаперевозки
                