body {
    font-family: Roboto, Arial, sans-serif;
    color: #fff;

    &.overflow-hidden{
        overflow: hidden;
    }
}

.scroll, .scroll-wrapper{
    width: 100px;
    height: 100px;
    overflow: auto;
    border: 1px solid black;
}
.scroll-wrapper textarea{
    height: 100px;
    width: 100px;
}


.btn{
    padding: 14px 22px;
    min-width: 220px;
    display: block;
    color: #fff;
    text-align: center;
    background-color: $gold;
    text-transform: uppercase;
    font-size: rem(16);
    line-height: rem(25);
    letter-spacing: 0.1em;
    transition: .2s;

    &:hover, &:focus {
        opacity: .7;
    }
    &:active{
        color: rgba(#fff, .3);
        opacity: .3;
    }

    &.w-100{
        width: 100%;

        &:hover{
            transform: rotate(-1deg) scale(1.1);
        }
    }

    @media (max-width: $laptop){
        font-size: 1rem;
        line-height: rem(16);
    }
    
}

.title {
    font-weight: 700;
    font-size: rem(40);
    line-height: rem(49);
    letter-spacing: 0.05em;
    text-transform: uppercase;



    @media (max-width: $laptop){
        font-size: rem(36);
    }

    @media (max-width: $mobileL){
        font-size: rem(32);
    }


    &-before{
        position: relative;
        &::before {
            content: "";
            position: absolute;
            width: 90px;
            height: 6px;
            top: -45px;
            left: 0;
            background-color: $gold;
        }
    }
}

#slider {flex-grow: 1;}

*:focus {
    outline: 1px solid #fff;
}